[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	tag = 1.9.4
[submodule "third-party/osu-memory"]
	path = third-party/osu-memory
	url = https://github.com/UnnamedOrange/osu-memory
